---
permalink: /
title: Introduction
---
{% include head.html %}
{% include category-setup.html %}

<body>
    {% include header.html %}
    <div class="container">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-1"><span class="ec ec-football"></span> Design Playbook</h1>
          <p>Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod.</p>
          <p><a class="btn btn-primary btn-lg" href=" {{site.url}}/discover" role="button">Start with Discover &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="display-4">Explore the phases</h2>
        </div>
      </div>
      {% assign sitepages = site.pages | sort:"order" %}
      {% for category in sitepages %}
      {% if category.layout == "category" %}
      <div class="row">
        <div class="col-12">
          <div class="card category-card" style="width: 100%;">
            <div class="card-body">
              <h2 class="card-title">{{ category.title }}</h2>
              <p class="lead">{{ category.description }}</p>
              <a class="btn btn-primary" role="button" href="{{ category.url }}" class="card-link">View Plays</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!-- end container -->


    {% include footer.html %}
</body>

</html>