     <footer class="text-muted" id="siteFooter">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p style="margin-bottom:0rem;">Created with <i class="fas fa-heart"></i> by the CUNA Digital Team</p>
          </div>
          <div class="col-md-4">
            <p class="float-right" style="margin-bottom:0rem;">
              <a href="#">Back to top</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

 <script>
  $(document).ready(function(){
    $("#categorySearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".play-cards > .row > .col-lg-3").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $(".card-body").click(function() {
      window.location = $(this).find("a").attr("href"); 
      return false;
    });
  });
  
</script>