<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow" id="topNav">
    <a class="navbar-brand" href="{{site.baseurl}}/">CUNA Design Playbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDiscover" role="button" data-toggle="dropdown">Discover</a>
          <div class="dropdown-menu">
              {% assign discoverplays = discover_plays | sort:"title" %}
              {% for play in discoverplays %}
              <a href="{{ play.url }}" class="dropdown-item">{{ play.title }}</a>
              {% endfor %}
              <div class="dropdown-divider"></div>
              <a href="{{ site.baseurl }}/discover" class="dropdown-item">View All</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDecide" role="button" data-toggle="dropdown">Decide</a>
            <div class="dropdown-menu">
                {% assign decideplays = decide_plays | sort:"title" %}
                {% for play in decideplays %}
                <a href="{{ play.url }}" class="dropdown-item">{{ play.title }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a href="{{ site.baseurl }}/decide" class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDesign" role="button" data-toggle="dropdown">Design</a>
            <div class="dropdown-menu">
                {% assign designplays = design_plays | sort:"title" %}
                {% for play in designplays %}
                <a href="{{ play.url }}" class="dropdown-item">{{ play.title }}</a>
                {% endfor %}
                <div class="dropdown divider"></div>
                <a href="{{ site.baseurl }}/design" class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownValidate" role="button" data-toggle="dropdown">Validate</a>
            <div class="dropdown-menu">
                {% assign validateplays = validate_plays | sort:"title" %}
                {% for play in validateplays %}
                <a href="{{ play.url }}" class="dropdown-item">{{ play.title }}</a>
                {% endfor %}
                <div class="dropdown divider"></div>
                <a href="{{ site.baseurl }}/validate" class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProduce" role="button" data-toggle="dropdown">Produce</a>
            <div class="dropdown-menu">
                {% assign produceplays = produce_plays | sort:"title" %}
                {% for play in produceplays %}
                <a href="{{ play.url }}" class="dropdown-item">{{ play.title }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a href="{{ site.baseurl }}/produce" class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEvaluate" role="button" data-toggle="dropdown">Evaluate</a>
            <div class="dropdown-menu">
                {% assign evaluateplays = evaluate_plays | sort:"title" %}
                {% for play in evaluateplays %}
                <a href="{{ play.url }}" class="dropdown-item">{{ play.title }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a href="{{ site.baseurl }}/evaluate" class="dropdown-item">View All</a>
            </div>
        </li>        
      </ul>
      <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/gameplans" class="nav-link"><strong>Game Plans</strong></a>
            </li>
        </ul>
    </div>
</nav>
