html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
  }
  #siteFooter {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there
    /* background-color: #f5f5f5; */
  }
body {
    /* margin-top: 90px; */
}
.container:first-of-type {
    padding-top: 90px;
}
#topNav {
    background-color: #fff !important;
    /* box-shadow: 0px 4px 25px rgba(0,0,0, 0.10) */
}
#categoryTop {
    margin-bottom: 2em;
}
.card > .card-body {
    transition: all 0.25s ease-in-out;
    height: 220px;
}
.card > .card-body a {
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
}
.card > .card-body:hover {
    box-shadow: 0px 4px 16px rgba(0,0,0, 0.25) !important;
}
.category-card {
    margin-bottom: 2em;
}
.colorbar {
    background-color: #EDEFF1;
}
@media screen and (max-width: 767px) {
    #playDescription {
        margin-top: 2em;
    }
    .card > .card-body {
        height: 180px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card > .card-body {
        height: 260px;
    }
}
