{% include head.html %}
{% include category-setup.html %}
{% include header.html %}
<body>
    <div class="colorbar">
        <div class="container">
            <div class="row pb-5 pt-3">
                <div class="col-md-12">
                    <h1 class="display-4">{{ page.title }}</h1>
                    <p class="lead">{{ page.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top:2em;">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="h6 text-muted">Phase</p>
                        
                        <a href="{{ site.url}}/{{ page.category | downcase }}" class="badge badge-secondary">{{ page.category }}</a>
                    </li>
                    <li class="list-group-item">
                        <p class="h6 text-muted">What</p>
                        <p>{{ page.what }}</p>
                    </li>
                    <li class="list-group-item">
                        <p class="h6 text-muted">Why</p>
                        <p>{{ page.why }}</p>
                    </li>
                    <li class="list-group-item">
                        <p class="h6 text-muted">Difficulty</p>
                        {% if page.difficulty == 'Easy' %}
                        <i class="fas fa-circle"></i>
                        <i class="far fa-circle"></i>
                        <i class="far fa-circle"></i>
                        {% elsif page.difficulty == 'Medium' %}
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                        <i class="far fa-circle"></i>
                        {% elsif page.difficulty == 'Hard' %}
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <p class="h6 text-muted">Share <i class="fas fa-share"></i></p>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" value=" {{ site.url }}{{page.permalink}}">
                    </li>
                </ul>
            </div>
            <div class="col-md-8" id="playDescription">
                <h2 class="display-5">Running The Play</h2>
                <br>
                {{ page.content }}
            </div>
        </div>

        <div class="row" style="margin-top:4em;margin-bottom:1em;">
            <div class="col-12">
                <h2 class="display-5">Other Plays in {{page.category}}</h2>
            </div>
        </div>
        <div class="row">
            <!-- Card Deck starts -->
            {% assign relatedplays = site.plays | where:"category", page.category %}
            {% for play in relatedplays %}
                {% if play.title != page.title %}
                    <div class="col-lg-3 col-md-4" style="margin-bottom:2em;">
                        <div class="card float-left">
                            <div class="card-body">
                                <h4 class="card-title">{{ play.title }}</h4>
                                <p class="card-text">{{ play.description }}</p>
                                <a href="{{ site.baseurl }}{{ play.url }}">See the Play</a>
                            </div>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}
        </div>
        <!-- Card Deck ends -->
    </div>
</body>
{% include footer.html %}