{% include head.html %}
{% include category-setup.html %}
{% include header.html %}

<body>
    {% assign categoryPlays = category_plays | sort:"title"  %}
    <div class="colorbar">
        <div class="container">
            <div class="row pb-5 pt-3" id="categoryTop">
                <div class="col-md-10">
                    <h1 class="display-3">{{ page.title }}</h1>
                    <p class="lead">
                        {{ page.description }}
                    </p>
                </div>
                <div class="col-md-2">
                    <input id="categorySearch" class="form-control align-bottom" type="text" placeholder="Filter Plays">
                </div>
            </div>
        </div>
    </div>
    <div class="container play-cards">
        <!-- Card Deck starts -->
        <div class="row">
            {% for play in categoryPlays %}
            <div class="col-lg-3 col-md-4" style="margin-bottom:2em;">
            <div class="card float-left">
                <div class="card-body">
                    <h4 class="card-title">{{ play.title }}</h4>
                    <p class="card-text">{{ play.description }}</p>
                    <a href="{{ site.baseurl }}{{ play.url }}">See the Play</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        <!-- Card Deck ends -->
    </div>
    {% include footer.html %}
</body>

