{% include head.html %}
{% include category-setup.html %}
{% include header.html %}

<body>
    <div class="container">
        <div class="row" id="categoryTop">
            <div class="col-12">
                <h1 class="display-3">{{ page.title }}</h1>
                <p class="lead">
                    {{ page.description }}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Card Deck starts -->
        <div class="row">
            {% for plan in site.gameplans %}
            <div class="col-md-6" style="margin-bottom:2em;">
            <div class="card">
                <h6 class="card-header">Game Plan</h6>
                <div class="card-body">
                    <h4 class="card-title">{{ plan.title }}</h4>
                    <p class="card-text">{{ plan.description }}</p>
                    <a href="{{ site.baseurl }}{{ plan.url }}">Game on!</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        <!-- Card Deck ends -->
    </div>

    {% include footer.html %}
</body>

