{% include head.html %}
{% include category-setup.html %}
{% include header.html %}
<body>

    <div class="colorbar">
        <div class="container">
            <div class="row mb-5 pb-5 pt-3">
                <div class="col-md-12">
                    <span class="badge badge-secondary">Game Plan</span>
                    <h1 class="display-4">{{ page.title }}</h1>
                    <p class="lead">{{ page.description }}</p>
                    <p>{{ page.content }}</p>
                    {% assign gameplan_plays = site.plays | where: "gameplan", page.plan %}
                    {% assign play_categories = gameplan_plays | map: "category" %}
                    <ul class="nav">
                        <li class="navbar-text">Jump To</li>
                        {% if play_categories contains 'Discover' %}
                            <li class="nav-item">
                                <a class="nav-link" href="#discover">Discover</a>
                            </li>
                        {% endif %}

                        {% if play_categories contains 'Decide' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#decide">Decide</a>
                        </li>
                        {% endif %}

                        {% if play_categories contains 'Design' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#design">Design</a>
                        </li>
                        {% endif %}

                        {% if play_categories contains 'Validate' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#validate">Validate</a>
                        </li>
                        {% endif %}

                        {% if play_categories contains 'Produce' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#produce">Produce</a>
                        </li>
                        {% endif %}

                        {% if play_categories contains 'Evaluate' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#evaluate">Evaluate</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <!-- Any Discover plays in the current Game Plan // -->
            {% if play_categories contains 'Discover' %}
            <div class="row pb-3" id="discover">
                <div class="col-12"><h1>Discover</h1></div>
            </div>
            <div class="row">
                {% for play in gameplan_plays %}
                    {% if play.category == 'Discover' %}
                    <div class="col-12" style="margin-bottom:2em;">
                    <div class="card">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body2 p-5">
                            <div class="row mb-3">
                                <div class="col-12">

                                    <h3 class="card-title">{{ play.title }}</h3>
                                    <!-- <p class="lead">{{ play.description }}</p> -->
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <h6 class="text-muted">What</h6>
                                    <p>{{ play.what }}</p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Why</h6>
                                    <p>{{ play.why }}</p>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Difficulty</h6>
                                    {% if play.difficulty == 'Easy' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Medium' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Hard' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Phase</h6>
                                    <a href="{{ site.url}}/{{ play.category | downcase }}" class="badge badge-secondary">{{ play.category }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-muted">Running this play</h6>
                                    {{ play.content }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                                <a target="_blank" href="{{site.url}}{{play.url}}">See this play</a>
                            </div>
                        
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- // Any Discover plays in the current Game Plan -->

            <!-- Any Decide plays in the current Game Plan // -->
            {% if play_categories contains 'Decide' %}
            <div class="row pb-3" id="decide">
                <div class="col-12"><h1>Decide</h1></div>
            </div>
            <div class="row">
                {% for play in gameplan_plays %}
                    {% if play.category == 'Decide' %}
                    <div class="col-12" style="margin-bottom:2em;">
                    <div class="card">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body2 p-5">
                            <div class="row mb-3">
                                <div class="col-12">

                                    <h3 class="card-title">{{ play.title }}</h3>
                                    <!-- <p class="lead">{{ play.description }}</p> -->
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <h6 class="text-muted">What</h6>
                                    <p>{{ play.what }}</p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Why</h6>
                                    <p>{{ play.why }}</p>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Difficulty</h6>
                                    {% if play.difficulty == 'Easy' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Medium' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Hard' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Phase</h6>
                                    <a href="{{ site.url}}/{{ play.category | downcase }}" class="badge badge-secondary">{{ play.category }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-muted">Running this play</h6>
                                    {{ play.content }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                                <a target="_blank" href="{{site.url}}{{play.url}}">See this play</a>
                            </div>
                        
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- // Any Decide plays in the current Game Plan -->

            <!-- Any Design plays in the current Game Plan // -->
            {% if play_categories contains 'Design' %}
            <div class="row pb-3" id="design">
                <div class="col-12"><h1>Design</h1></div>
            </div>
            <div class="row">
                {% for play in gameplan_plays %}
                    {% if play.category == 'Design' %}
                    <div class="col-12" style="margin-bottom:2em;">
                    <div class="card">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body2 p-5">
                            <div class="row mb-3">
                                <div class="col-12">

                                    <h3 class="card-title">{{ play.title }}</h3>
                                    <!-- <p class="lead">{{ play.description }}</p> -->
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <h6 class="text-muted">What</h6>
                                    <p>{{ play.what }}</p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Why</h6>
                                    <p>{{ play.why }}</p>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Difficulty</h6>
                                    {% if play.difficulty == 'Easy' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Medium' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Hard' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Phase</h6>
                                    <a href="{{ site.url}}/{{ play.category | downcase }}" class="badge badge-secondary">{{ play.category }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-muted">Running this play</h6>
                                    {{ play.content }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                                <a target="_blank" href="{{site.url}}{{play.url}}">See this play</a>
                            </div>
                        
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- // Any Design plays in the current Game Plan -->

            <!-- Any Validate plays in the current Game Plan // -->
            {% if play_categories contains 'Validate' %}
            <div class="row pb-3" id="validate">
                <div class="col-12"><h1>Validate</h1></div>
            </div>
            <div class="row">
                {% for play in gameplan_plays %}
                    {% if play.category == 'Validate' %}
                    <div class="col-12" style="margin-bottom:2em;">
                    <div class="card">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body2 p-5">
                            <div class="row mb-3">
                                <div class="col-12">

                                    <h3 class="card-title">{{ play.title }}</h3>
                                    <!-- <p class="lead">{{ play.description }}</p> -->
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <h6 class="text-muted">What</h6>
                                    <p>{{ play.what }}</p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Why</h6>
                                    <p>{{ play.why }}</p>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Difficulty</h6>
                                    {% if play.difficulty == 'Easy' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Medium' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Hard' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Phase</h6>
                                    <a href="{{ site.url}}/{{ play.category | downcase }}" class="badge badge-secondary">{{ play.category }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-muted">Running this play</h6>
                                    {{ play.content }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                                <a target="_blank" href="{{site.url}}{{play.url}}">See this play</a>
                            </div>
                        
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- // Any Validate plays in the current Game Plan -->

            <!-- Any Produce plays in the current Game Plan // -->
            {% if play_categories contains 'Produce' %}
            <div class="row pb-3" id="produce">
                <div class="col-12"><h1>Produce</h1></div>
            </div>
            <div class="row">
                {% for play in gameplan_plays %}
                    {% if play.category == 'Produce' %}
                    <div class="col-12" style="margin-bottom:2em;">
                    <div class="card">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body2 p-5">
                            <div class="row mb-3">
                                <div class="col-12">

                                    <h3 class="card-title">{{ play.title }}</h3>
                                    <!-- <p class="lead">{{ play.description }}</p> -->
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <h6 class="text-muted">What</h6>
                                    <p>{{ play.what }}</p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Why</h6>
                                    <p>{{ play.why }}</p>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Difficulty</h6>
                                    {% if play.difficulty == 'Easy' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Medium' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Hard' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Phase</h6>
                                    <a href="{{ site.url}}/{{ play.category | downcase }}" class="badge badge-secondary">{{ play.category }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-muted">Running this play</h6>
                                    {{ play.content }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                                <a target="_blank" href="{{site.url}}{{play.url}}">See this play</a>
                            </div>
                        
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- // Any Produce plays in the current Game Plan -->

            <!-- Any Evaluate plays in the current Game Plan // -->
            {% if play_categories contains 'Evaluate' %}
            <div class="row pb-3" id="evaluate">
                <div class="col-12"><h1>Evaluate</h1></div>
            </div>
            <div class="row">
                {% for play in gameplan_plays %}
                    {% if play.category == 'Evaluate' %}
                    <div class="col-12" style="margin-bottom:2em;">
                    <div class="card">
                        <!-- <div class="card-header">
                            Featured
                        </div> -->
                        <div class="card-body2 p-5">
                            <div class="row mb-3">
                                <div class="col-12">

                                    <h3 class="card-title">{{ play.title }}</h3>
                                    <!-- <p class="lead">{{ play.description }}</p> -->
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <h6 class="text-muted">What</h6>
                                    <p>{{ play.what }}</p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Why</h6>
                                    <p>{{ play.why }}</p>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Difficulty</h6>
                                    {% if play.difficulty == 'Easy' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Medium' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    {% elsif play.difficulty == 'Hard' %}
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    <i class="fas fa-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <h6 class="text-muted">Phase</h6>
                                    <a href="{{ site.url}}/{{ play.category | downcase }}" class="badge badge-secondary">{{ play.category }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="text-muted">Running this play</h6>
                                    {{ play.content }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                                <a target="_blank" href="{{site.url}}{{play.url}}">See this play</a>
                            </div>
                        
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- // Any Evaluate plays in the current Game Plan -->

    </div>
</body>
{% include footer.html %}